<!-- lightbox snippet for images to be expanded into, styling in lightbox.scss -->

<div id="lightbox-overlay">
	<div id="lightbox-carousel">
		<div class="gallery-cell">
			<img src="/assets/images/spinner.svg" alt="Lightbox image" class="carousel-image"/>
		</div>
		<div class="gallery-cell">
			<img src="/assets/images/spinner.svg" alt="Lightbox image" class="carousel-image"/>
		</div>
		<div class="gallery-cell">
			<img src="/assets/images/spinner.svg" alt="Lightbox image" class="carousel-image"/>
		</div>
		<div class="gallery-cell">
			<img src="/assets/images/spinner.svg" alt="Lightbox image" class="carousel-image"/>
		</div>
	</div>

	{% include navigation.html %}
</div> <!-- end lightbox-overlay -->

