{% comment %}
Inputs
------
files: string of img file paths delimited by ;

{% endcomment %}
{% if include.style %}
<div class="row-images" style="{{include.style}}">
{% else %}
<div class="row-images" style="flex-direction: row; margin:0;">
{% endif %}
{% assign files = include.files | split: ','%}
{% if include.caption %}
{% assign captions = include.caption | split: ';' %}
{% endif %}
{% if include.presets %}
{% assign presets = include.presets | split: ';' %}
{% endif %}
{% for img in files %}
	{% assign alt = alts[forloop.index0] %}
	{% assign caption = captions[forloop.index0] %}
	{% assign preset = preset[forloop.index0] %}
	{% include image.html preset=preset img=img class="col" caption=caption alt=alt %}
{% endfor %}
</div>