$side_width : 30vw;
$content_margin : 100px;
$mobile_content_margin: 20px;

@import './fonts';
@import './navigation';
@import './post_wrap';
@import './lightbox';

h1{
    font-family: 'Merriweather', serif;
    font-size: 35px;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 35px;
}

p {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
}

a {
    font-family: 'Merriweather', serif;
    text_decoration: none;
    color: black;
}

body {
    margin: 0;
}

.logo{
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.logo svg path {
    fill: white;
    transition: 500ms;
}

.logo svg:hover > path{
    fill: lightgrey;
    transition: 500ms;
}

.side_bar{
    display: flex;
    flex-direction:  column;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9)), url(../../assets/images/splash.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: $side_width;
    position: fixed;
    justify-content: space-between;
    padding: 40px;
    box-sizing: border-box;
}

.side_bar h1{
    color: white;
    margin: 0;
}

.side_bar p{
    color: lightgray;
}

main{
    margin-left: $side_width;
    padding: 10px 0px 10px $content_margin;
    margin-right: $content_margin;
    max-width: 100vw;
    overflow: hidden;
}

.main_window img {
    width: 100%;
    // min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.main_window img {
    transition: opacity .3s ease-in-out;
}

.pig-figure img {
    min-width: 0;
}

#pig img:hover {
    opacity: .5;
}

.main_window img:hover {
    opacity: .75;
}

hr {
    border: 1px solid darkgrey;
    width: auto;
}

// For object leaving
.transition-fade {
  opacity: 1;
  transition: 250ms;
}

// For object entering, start invisible
html.is-animating .transition-fade {
  opacity: 0;
}

// Tablet View
@media (max-width: 799px) {

.side_bar {
    position: relative;
    flex-direction: row;
    width: 100vw;
    height: auto;
    justify-content: space-between;
    padding: 10px 40px;
}

.side_bar h1{
    color: white;
    margin-top: 10px;
}

main {
    margin-left: $mobile_content_margin;
    margin-right: $mobile_content_margin;
    padding: 10px 0;
}

body {
    display: flex;
    flex-direction: column;
}

}