$side_width : 20vw;

nav {
    border: 1px solid aqua;
    margin-bottom: 10vh;
    width: 100px;
}

.nav_button {
    bottom: 0;
    border: 1px solid coral;
}

.socials {
    display: flex;
    flex-direction: column;
}

.social_icon {
    width: 40px;
}

.current {
  color: green;
}

body {
    margin: 0;
    display: flex;
}

.side_bar{
    display: flex;
    flex-direction:  row;
    background-image: url(../../assets/images/paint.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: $side_width;
    position: fixed;
    justify-content: center;
    align-items: flex-end;
}

.main_window{
    margin-left: $side_width + 2;
    margin-right: 2vw;
    max-width: 100vw;
    overflow: hidden;
}