html {
    height: 100%;
}

.current {
  color: green;
}

body{
    display: flex;
}

.side_bar{
    display: block;
    background-image: url(../../assets/images/paint.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 30%;
    position: fixed;
}

.main_window{
    margin-left: 30%
}