nav {
	display: flex;
	flex-direction: column;
}


.nav_button {
	bottom: 0;
	margin: 5px auto;
	text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 1.125em;
    text-decoration: none;
    color: lightgrey;
    transition: 500ms;
}

.nav_button:hover{
    color: white;
    transition: 500ms;
}

.socials {
    display: flex;
    flex-direction: row;
    width: 150px;
	margin-left: auto;
	margin-right: auto;
}

.nav_button .current {
  color: white;
}

.socials svg {
    width: 40px;
    margin: 5px 5px;
    fill: lightgrey;
    transition: 500ms;
}

svg:hover {
    fill: white;
    transition: 500ms;
}

.mobile {
    display: none;
    width: 40px;
    margin: 5px 5px;
}

@media (max-width: $tablet) {
    nav {
        display: none;
    }
}