nav {
    // border: 1px solid aqua;
    margin-bottom: 10vh;
    // width: 300px;
    // text-align: center;
}

.nav_button {
	bottom: 0;
	// border: 1px solid coral;
	width: 50px;
	margin-bottom: 10px;
}

.nav_button a{
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: lightgrey;
}

.socials {
    display: flex;
    flex-direction: row;
    // justify-content: center;
}

.social_icon {
    width: 40px;
    margin: 5px 5px;
}

.nav_button .current {
  color: white;
}