nav {
    margin-bottom: 10vh;
}

.nav_button {
	bottom: 0;
	width: 50px;
	margin-bottom: 10px;
}

.nav_button a{
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: lightgrey;
    transition: 500ms;
}

.nav_button a:hover{
    color: white;
    transition: 500ms;
}

.socials {
    display: flex;
    flex-direction: row;
}

.social_icon {
    width: 40px;
    margin: 5px 5px;
}

.nav_button .current {
  color: white;
}

svg {
    fill: lightgrey;
    transition: 500ms;
}

svg:hover {
    fill: white;
    transition: 500ms;
}