$indent: 15%;
$wide_indent: 25%;

.heading{
	margin-bottom: 20px;
}

h1 a {
	text-decoration: none;
	transition: 500ms;
	color: #2a2f36;
}

h1 a:hover{
	color: grey;
	transition: 500ms;
}

.post_data {
	color: grey;
}

.post_data  > a{
	color: grey;
	transition: 500ms;
}

.post_data  > a:hover{
	color: lightgrey;
	transition: 500ms;
}


main h1{
	font-family: 'Merriweather', serif;
	font-size: 2.5em;
	color: #2a2f36;
}

h2 {
	font-family: 'Merriweather', serif;
	font-size: 1.5em;
	color: #2a2f36;
}

main p, li {
	font-family: 'Mulish', sans-serif;
	font-size: 1.125em;
	line-height: 1.4;
	color: #2a2f36;
	margin: 10px 20%;
}


a, span {
	font-family: 'Merriweather', serif;
	text_decoration: none;
	color: black;
	font-size: 1em;
}

main h1, .post_data, li{
	margin: 10px $wide_indent;
}

h2 {
	margin: 30px $wide_indent 10px $wide_indent;
}


hr {
    border: 1px solid darkgrey;
    width: auto;
}

hr, .pagination {
	margin: 30px 20%;
}

.fb-comments {
	padding: 10px 20%;
    width:100% !important;
	box-sizing: border-box;
}

@media (max-width: $standard_screen) {
	main h1, .post_data, li{
		margin: 10px $indent;
	}

	h2 {
		margin: 30px $indent 10px $indent;
	}

	main p, hr, .pagination{
		margin: 10px 10%;
	}

	.fb-comments{
		padding: 10px 10%
	}

	hr, .pagination {
		margin: 30px 10%;
	}
}

@media (max-width: $tablet){
	main h1, main p, h2, li, .post_data, hr, .pagination{
		margin: 10px 5%;
	}

	.fb-comments{
		padding: 10px 5%;
	}

	main h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.25em;
	}

	main p, li {
		font-size: 1em;
	}
}