<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/assets/css/styles.css">
		{% feed_meta %}
		{% seo %}
	</head>
	<body>
		<div class="side_bar">
			<div id="swup" class="transition-fade">
				<h1>
					{{page.title}}
				</h1>
				<p>
					{{page.subheading}}
				</p>
			</div>

			{% include navigation.html %}
		</div>
		<main id="swup" class="main_window transition-fade">
			{{ content }}
		</main>

	{% include lightbox.html%}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
	<script src="/assets/js/script.js"></script>
	</body>
</html>