<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		 <meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/assets/css/styles.css">
		{% feed_meta %}
		{% seo %}
	</head>
	<body>
		<header>
			{% if page.head_img %}
			<div class="side_bar_img img_on" style="background-image: url({{page.head_img}})"> </div>
			{% else %}
			<div class="side_bar_img img_on" style="background-image: url(/assets/images/splash.jpg)"> </div>
			{% endif %}
			<div class="side_bar_img"> </div>
			<div class="side_bar">
				<a href="/" class="logo">
					{% include icons/logo.svg %}
				</a>
				<div class="side_content">
					<div id="swup" class="transition-fade side_heading">
						<div class="banner">
							<h1>
								{{page.title}}
							</h1>

							<div class="mobile">
								{% include icons/burger_menu.svg %}
							</div>
						</div>
						<p>
							{{page.subheading}}
						</p>
					</div>

					{% include navigation.html %}
				</div>
			</div>
		</header>
		<main id="swup" class="main_window transition-fade">
			{{ content }}
		</main>

	{% include lightbox.html%}

	<script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/assets/js/pig.min.js"></script>
	<script src="/assets/js/script.js"></script>
	</body>
</html>